spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/user_db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update

app:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32CHARS_MINIMUM"
    accessTokenMinutes: 60
