spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

security:
  jwt:
    secret: test-jwt-secret-key-which-is-long-enough
    expiration: 3600000
